---
import "./arbol.css";
import "../bordes.css";
import Flecha from "../flecha.astro";
---

<div id="pag-arboles">
  <div class="container">
    <Flecha id="4" clase="duration arbolintro" />
    <h1 id="intro-arboles">
      Ahora compartiremos las plantaciones que has realizado
    </h1>

    <img id="borde-izquierdo" src="../public/images/noche-icono-arbu.png" />
    <img id="borde-derecho" src="../public/images/noche-icono-arbu.png" />
    <img id="arbusto" src="../public/images/arbusto.png" />
    <img id="arbusto-2" src="../public/images/arbusto2.png" />
  </div>

  <script src="./arbol.js"></script>
  <script src="../transition.js"></script>
</div>
