---
import "./resumen.css";
---

<div id="pag-sinDatos">
  <div class="container">
    <!-- <img src="/images/Montañas.png" id="mountains" />
    <img src="/images/Arboles.png" id="trees" />
    <h2>sasd</h2> -->
    <h2 class="duration datos" id="plantar">Actualmente no hay datos para mostrar</h2>
    <h2 class="duration datos-2"  id="plantar-2">No adoptaste ni plantaste ningún árbol</h2>
    <h2 class="duration datos-3"  id="plantar-3">Adopta o planta un árbol cerca de casa, en los lugares que frecuentas</h2>
   <h2 class="duration datos-4"  id="plantar-4">El próximo año esperamos ver muchos árboles plantados</h2>
     <!-- <h2 class="duration datos-5"  id="plantar-5">El próximo año esperamos ver muchos árboles plantados</h2> -->

    <img id="borde-derecarriba" src="/images/borde.png" />
    <img id="borde-izqrotate" src="/images/borde.png" />
    <div class="ternary-system">
      <div class="sun primary"></div>
      <div class="sun secondary"></div>
      <div class="sun ternary"></div>
    </div>
    <div class="sand">
      <div class="pendulums">
        <div class="pendulum">
          <div class="bar"></div>
          <div class="motion">
            <div class="string"></div>
            <div class="weight"></div>
          </div>
        </div>
        <div class="pendulum shadow">
          <div class="bar"></div>
          <div class="motion">
            <div class="string"></div>
            <div class="weight"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="pyramid"></div>

  </div>
  <script src="./resumen.js"></script>
  <script src="../transition.js"></script>
</div>
