---
import "./monitoreos.css";
import Flecha from "../flecha.astro";


interface Props {
  cantMonitoreos: number;
}

const { cantMonitoreos } = Astro.props;
---

<div id="pag-monitoreos">
  <div class="container">
    <h1 class="duration monitoreos" id="frase-monitoreos">
      ¡Vamos a echarle un vistazo a esos monitoreos!
    </h1>
    <img class="duration monitoreos" id="arbol" src="../public/images/arbol.png" />
    <h1 class="duration monitoreos-2" id="cant-monitoreo">
      {`LLegaste a realizar hasta ${cantMonitoreos} monitoreos`}
    </h1>
    <img
    class="duration monitoreos-2"
    id="bosque"
    src="../public/images/Bosque.jpg"
    />
    <Flecha id="3" clase="duration monitoreos-2"/>

    <script src="./monitoreos.js"></script>
    <script src="../transition.js"></script>
  </div>
</div>
