<div class="logo-container">
  <img class="logo" src="../public/images/logo.png" />
</div>

<style>
  .logo-container {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    z-index: 1000; 
    width: 75px; 
    height:90px;
   
  }
  .logo {
    width: 70px; 
    height: auto;
    opacity: 0.7;
  }
</style>
