---
import "./scoremes.css";
import Flecha from "../flecha.astro";
---

<div id="pg-scoremes">
  <div class="container">
    <Flecha id="10" clase="duration scoremes-2" />


    <img  id="bordeizq-arribia" src="/images/borde.png"  >
   
    <img  id="borde-izqabajo" src="/images/noche-icono-arbu.png" >
    <img id="planta" src="/images/planta.png" >
    <!-- <h2 class="duration score-mes" id="text">!FEBRERO!</h2>
    <h3 class="duration score-mes">
      Se destacó como el mes con la mayor cantidad de puntos acumulados
    </h3> -->
    <h2 class="duration score-mes">
      ¡Es momento de descubrir en qué posición te encuentras en el top!
    </h2>
  </div>

  <script src="./scoremes.js"></script>
  <script src="../transition.js"></script>
</div>
